
body {
  font-family: 'Bree Serif', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #1e1e1e;
  height: 8vh;
  opacity: 0; 
  transition: all 800ms;
  z-index: 102;
  &__logo {
    position: absolute;
    height: 6vh;
    margin-top: 1vh;
    margin-left: 1vw;
  }
}

.hamburger{
  position: fixed;
  &__line {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top:1.5rem;
    right:3.5rem;
    &--one, &--two, &--three {
      width: 2.1rem;
      height: 1px;
      background-color: white;
      margin: 0.25rem 0;
      transition: 0.3s;    
    }
  }
  &__list {
    position: fixed;
    right: 0;
    top: 8vh;
    &--child {
      text-align: center;
      font-size: 1.5rem;
      color: #1e1e1e;
      display: block;   
      padding:8px 2rem 8px 1rem;
      background-color: #f5f5f5;
      &:hover {
        opacity: 0.4;
      }
    }
    &--parent {
        background-color: #f5f5f5;
        padding-bottom: 100vh;

    }
  }
}
.cross__animation--one {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.cross__animation--two {
  opacity: 0 !important;
}
.cross__animation--three {
  transform: rotate(45deg) translate(-6px, -6px);
}
.scrollin__header {
  opacity: 1;
}

.main {
  &__video {
    position: relative;
    overflow: hidden;
    & > video {
      filter: grayscale(100%);
      height: 100vh;
      margin-left: -2vw;
      position: relative;
      z-index: 100;
    }
  }
  &__title {
    font-size: 6rem;
    color: #f5f5f5;
    position: absolute;
    top: 75vh;
    left: 60vw;
    z-index: 101;
    transform: translate(0, -80px);
    transition: all 1200ms;
    & > span {
      animation: 1s ease-out forwards;
    }
  }
}

main {
  background-color: #ffffff;
  background-size: 100%, 30%, 65%, 35%, 80vw, 35%, 35%, 70% 100%, 100%;
  background-image: url(/img/grange2.png), url(/img/concept__img.png), url(/img/concept__backimage.png), url(/img/service.png), url(/img/service-grey.png), url(/img/profile.png), url(/img/contact.png), url(/img/gradation__background.png), url(/img/background__image.jpeg) ;
  background-repeat: repeat-y, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, no-repeat;
  background-position: center, top 120vh right 5vw, top 134vh left 5vw, top 270vh left 15vw, top 340vh right -8vw, top 460vh left 15vw, top 520vh right 15vw, top 72vh center;
  background-attachment: scroll, scroll, scroll, scroll, scroll, scroll, scroll, scroll, fixed;
}

.concept__ {
  &background {
    background-image: url(/img/concept__img.png), url(/img/concept__backimage.png);
    background-size: 20%, 65%;
    background-repeat: no-repeat;
    background-position: right, center;
  }
  &title, &content {
    font-family: "Yu Mincho";
    color: #1e1e1e;
    margin-left: 18%;
    opacity: 0;
    transform: translate(0, 80px);
    transition: all 800ms;
  }
  &title {
    font-size: 2.5rem;
    margin-top: 30%;
    border-bottom: #1e1e1e 2px solid;
    display: inline-block;
  }
  &content {
    max-width: 45%;
    font-size: 1.8rem;
    margin-top: 8vh;
    line-height: 3rem;
    margin-bottom: 15vh;
  }
}

.section {
  &__title {  
    &--line, &--line--product, &--line--profile, &--line--contact {
      position:absolute;
      top: -20vh;
      left:50%;
      z-index: 51;
      &::after {
        content: "";
        position: absolute;
        width: 3px;
        height: 0px;
        background: #f5f5f5;
        animation: pathmove 1.6s ease-in-out infinite;
        opacity:0;
      }
      @keyframes pathmove{
        0%{
          height:0;
          top:0;
          opacity: 0;
        }
        30%{
          height:90px;
          opacity: 1;
        }
        100%{
          height:0;
          top:150px;
          opacity: 0;
        }
      }      
    }
    &--word, &--word--contact {
    font-size: 4rem;
    text-align: center;
    position: relative;
    z-index: 50;
    }
  }

}
.service {
  margin-top: 50vh;
  position: relative;
  opacity: 0;
  transform: translate(0, 80px);
  transition: all 800ms;
  &__main {
    margin-top: 10vh;
    margin-bottom: 30vh;
    display: flex;
    justify-content: center;
    &--down {
      margin-top: 8vh;
    }
    &--down, &--up {
      position: relative;
      margin-left: -0.5rem;
    }
    &--image {
      width: 16rem;
    }
    &--title {
      text-align: center;
      font-size: 2rem;
      margin-top: 0.8rem;
      &--line {
        display: inline-block;
        border-bottom: #1e1e1e 1px solid;
      }
    }
    &--hover {
      font-family: "Yu Mincho";
      font-size: 1.2rem;
      line-height: 1.5;
      color: #f5f5f5;
      margin-top: -20rem;
      margin-left: 0vw;
      margin-right: 0;
      background-color: #1e1e1e;
      position: relative;
      padding: 2rem;
      padding-bottom: 2.1rem;
      opacity: 0;
      z-index: 90;
      transition: 0.4s;
      &::after {
        content: "";
        width: 13.5rem;
        height: 1px;
        background: #f5f5f5;
        position: absolute;
        bottom: 1.5rem;
      }
      &::before {
        content: "";
        width: 1px;
        height: 10rem;
        background: #f5f5f5;
        position: absolute;
        bottom: 0.5rem;
        right: 1.5rem;
      }
    }
  }
}
.hover__fade {
  opacity: 0.9;
}
.product {
  margin-top: 60vh;
  margin-bottom: 20vh;
  position: relative;
  opacity: 0;
  transform: translate(0, 80px);
  transition: all 800ms;
  &__main {
    margin-top: 10vh;
    width: 70%;
    position: absolute;
    left: 17%;
    &--carousel {
      width: 20vw;
      height: 20vw;
    }
  }
  &__button {
    margin-top: 10vh;
    text-align: center;
    position: relative;
    &--more {
      position: relative;
      font-size: 2.5rem;
      color: #f5f5f5;
      background-color: #1e1e1e;
      padding: 1vh 5vw 1vh 5vw;
      border-radius: 0.1pc;
    }
  }
}
.slick-slide {
  height: auto;
  transform: scale(.80); // スライドのサイズを70%にする
  transition: transform .5s; // スライド透過率と拡大のアニメーション時間を0.5秒に設定
  width: 100%;
}
.product__main .slick-center {
  transform: scale(1); // 中央のスライドは小さくしない
}

.product__button--arrow, .contact__button--arrow {
  text-align: center;
  &::after {
    content: '';
    width: 5%;
    height: 1px;
    background: #f5f5f5;
    position: absolute;
    right: 38.5%;
    bottom: 1rem;
    z-index: 200;
  }
  &::before {
    content: "";
    width: 1px;
    height: 1rem;
    background: #f5f5f5;
    transform: rotate(-60deg);
    position: absolute;
    bottom: 0.8rem;
    right: 39%;
  } 
}
.product__button--arrow {
  &::after {
    right: 40%;
  }
  &::before {
    right: 40.5%;
  }
}
.product__button:hover, .contact__button:hover {
  opacity: 0.5;
  transition: all 0.5s;
}
.product__button:hover .product__button--arrow, .contact__button:hover .contact__button--arrow {
  transform: translateX(20px);
  transition: all 0.5s;
}

.profile {
  margin-top: 30vh;
  margin-bottom: 35vh;
  text-align: center;
  &__background {
    position: absolute;
    right: auto;
    left: 5vw;
    margin: 0 auto;
    margin-top: -8vh;
    display: flex;
    opacity: 0;
    transform: translate(0, 80px);
    transition: all 1000ms;
    z-index: 49;
    &--left, &--right {
      width: 45vw;
      height: 28vh;
    }
    &--right {
      margin-top: 10vh;
      height: 25vh;
      margin-left: -0.5vw;
    }
  }
  &__main {
    position: relative;
    z-index: 50;
    margin-top: 3.5vh;
    font-family: 'Gothic A1';
    font-size: 1.4rem;
    color: #1e1e1e;
    transition: all 1200ms;
    opacity: 0;
  }
}

.section__title--profile {
  opacity: 0;
  position: relative;
  z-index: 50;
  transform: translate(0, 80px);
  transition: all 700ms;

}

.contact {
  margin-top: 20vh;
  margin-bottom: 25vh;
  text-align: center;
  position: relative;
    opacity: 0;
  transform: translate(0, 80px);
  transition: all 800ms;
  &__main {
    margin-top: 7vh;
    font-family: 'Gothic A1';
    font-size: 1.4rem;
    color: #f5f5f5;
    line-height: 1.8rem;
  }
  &__button {
    margin-top: 8vh;
    text-align: center;
    position: relative;
    &--more {
      position: relative;
      font-size: 2.5rem;
      color: #f5f5f5;
      background-color: #1e1e1e;
      padding: 1vh 4vw 1vh 4vw;
      border-radius: 0.1pc;
    }
  }
}
.section__title--word--contact {
  color:#f5f5f5;
}

footer{
  width: 100%;
  height: 8vh;
  background-color: #1e1e1e;

}
.footer {
  &__nav{
    margin-left: 2vw;
    display: flex;
    &--child {
      color: #f5f5f5;
      font-size: 1.5rem;
      margin-right: 3rem;
      margin-top: 2.5vh;
      &:hover {
        opacity: 0.4;
      }
    }
  }
}

.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

// main title fade in
.main__title span{opacity: 0;  transform: translate(0, -80px);
}
.main__title.appeartext span{ 
  animation:text_anime_on 1s ease-out forwards;
  transform: translate(0, 0);
}
@keyframes text_anime_on {
	0% {opacity:0; transform: translate(0, -80px);
  }
	100% {opacity:1; transform: translate(0, 0)}
}

